{% extends 'DBProject/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Dashboard Presidente di Squadra</h2>
    <h3>Benvenuto, {{ request.user.username }}</h3>
    <p>Qui puoi gestire gli atleti e gli allenatori della tua squadra: {{ squadra.nome }}.</p>

    <h3 class="mt-5">Membri della Squadra</h3>
    <div class="row">
        <div class="col-md-6">
            <h4>Allenatori</h4>
            {% if allenatori %}
            <ul class="list-group">
                {% for allenatore in allenatori %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ allenatore.utente.username }}
                    <form action="{% url 'rimuovi_membro' allenatore.pk 'allenatore' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Rimuovi</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Nessun allenatore nella tua squadra.</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h4>Atleti</h4>
            {% if atleti %}
            <ul class="list-group">
                {% for atleta in atleti %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ atleta.utente.username }}
                        <br>
                        Stato di salute: <strong>{{ atleta.get_stato_display }}</strong>
                    </div>
                    <form action="{% url 'rimuovi_membro' atleta.pk 'atleta' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Rimuovi</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Nessun atleta nella tua squadra.</p>
            {% endif %}
        </div>
    </div>

<div class="mt-4">
        <h4>Aggiungi Allenatore</h4>
        <form method="post" action="{% url 'dashboard_pres_squadra' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_add_allenatore_form-utente" class="form-label">Seleziona un allenatore</label>
                {{ add_allenatore_form.utente }}
            </div>
            <button type="submit" name="add_allenatore" class="btn btn-primary">Aggiungi Allenatore</button>
        </form>
    </div>

<div class="mt-4">
        <h4>Aggiungi Atleta</h4>
        <form method="post" action="{% url 'dashboard_pres_squadra' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_add_atleta_form-utente" class="form-label">Seleziona un atleta</label>
                {{ add_atleta_form.utente }}
            </div>
            <button type="submit" name="add_atleta" class="btn btn-primary">Aggiungi Atleta</button>
        </form>
    </div>


    <h3 class="mt-5">Gare disponibili</h3>
    {% if gare %}
    <ul class="list-group">
        {% for gara in gare %}
        <li class="list-group-item">
            <div>
                <strong>Luogo:</strong> {{ gara.luogo }}
                <br>
                <strong>Data:</strong> {{ gara.data_inizio|date:"d/m/Y" }}
                <br>
                <strong>Specialità:</strong>
                <ul>
                    {% for gara_specialita in gara.garaspecialita_set.all %}
                        <li>{{ gara_specialita.id_specialita.nome }} ({{ gara_specialita.get_sesso_display }})</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Non ci sono gare disponibili.</p>
    {% endif %}
</div>
{% endblock %}