{% extends 'DBProject/base.html' %}
{% load app_filters %}
{% block content %}
<div class="container mt-5">
    <h2><strong>Dashboard Presidente di Regione</strong></h2>
    <h3>Benvenuto, {{ request.user.username }}</h3>
    <p>In questa dashboard, potrai gestire le gare e le regioni di competenza.</p>

    <div class="mt-4">
        <a href="{% url 'crea_gara' %}" class="btn btn-primary">Crea Nuova Gara</a>
    </div>

     <div class="mt-5">
    <h4><strong>Calendario Gare</strong></h4>
    {% if gare_future %}
        <ul class="list-group">
            {% for gara in gare_future %}
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><strong>Gara a {{ gara.luogo }}</strong></h5>
                        <small>{{ gara.data_inizio|date:"d M Y" }}</small>
                    </div>
                    <p class="mb-1"><strong>Data Fine:</strong> {{ gara.data_fine|date:"d M Y" }}</p>

                    <div class="mt-3">
                        <h6>Specialità:</h6>
                        <ul>
                            {% for specialita in specialita_per_gara|get_item:gara.pk %}
                                <li>
                                    {{ specialita.id_specialita.nome }} - Sesso: {{ specialita.get_sesso_display }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Non ci sono gare future in programma.</p>
    {% endif %}
</div>

<div class="mt-5">
  <h4><strong>Calendario Gare Passate</strong></h4>
    {% if gare_passate %}
        <ul class="list-group">
            {% for gara in gare_passate %}
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Gara a {{ gara.luogo }}</h5>
                        <small>{{ gara.data_fine|date:"d M Y" }}</small>
                    </div>
                    <p class="mb-1"><strong>Specialità:</strong></p>
                    <ul>{% for specialita in specialita_per_gara|get_item:gara.pk %}
                            <li>{{ specialita.id_specialita.nome }} - Sesso: {{ specialita.get_sesso_display }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Non ci sono gare passate.</p>
    {% endif %}
{% endblock %}